.git
.gitignore
.env
.env.*.local
.env.local
node_modules
npm-debug.log
.DS_Store
.editorconfig
.idea
.vscode
docker-compose.yml
Dockerfile
.dockerignore
*.md
tests/
storage/logs/*
bootstrap/cache/*
vendor/
.phpunit.result.cache
.php_cs.cache
phpunit.xml
README.md
routes.txt
